@page "{id}"
@model Library.Web.Pages.Books.StatusModel
@{
    ViewData["Title"] = "Status";
}

<h2>Book status for @Model.Title</h2>

<ul>
    @foreach (var date in Model.BookRecords)
    {
        <li>@date.StartDate - @date.EndDate</li>
    }
</ul>