<div class="jumbotron">
    <div style="display: {{{anonymousDisplay}}}">
        <h1>Welcome to Fluffy Duffy Munchkin Cats</h1>
        <p>The simplest, cutest, most reliable website for trading cats.</p>
        <hr class="my-2">
        <p><a href="/users/login">Login</a> to trade or <a href="/users/register">Register</a> if you don't have an account.</p>
    </div>
    <div style="display: {{{authDisplay}}}">
        <h1>Welcome {{{username}}}</h1>
        <hr class="my-2">
        Fluffy Duffy Munchkin Cats wishes you a cute and awesome experience.
    </div>
</div>