@using FDMC.App.Models.ViewModels;

@model IEnumerable<CatsConciseViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center">Welcome to FDMC</h1>

<ul>
    @foreach (var cat in Model)
    {
        <li><a asp-controller="Cats" asp-action="Details" asp-route-id="@(cat.Id)">@cat.Name</a></li>
    }
</ul>

<a asp-controller="Cats" asp-action="Add">Add Cat</a>