<div class="text-center">
    <h1>{{{title}}}</h1>
</div>
<div class="row">
    <div class="col-6 text-center">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{{youtubeId}}}"
                frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
    <div class="col-6">
        <p class="text-info tube-author text-center">{{{author}}}</p>
        <p class="text-info tube-views text-center">{{{views}}}</p>
        <p>{{{description}}}</p>
    </div>
</div>